

{% extends 'layouts/base.html.twig' %}

{% block title 'Recette' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Recette</h1>
          </div>
          <div class="col-sm-6 text-right">
            {% if is_granted('ROLE_REGIE') %}  
              <a role="link" href="{{path('recette_new')}}" type="button" class="btn btn-primary "><i class="fa fa-plus"></i> Nouvelle Recette</a>
            {% endif %}
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                     
                      <th>N° des quittances à souches</th>
                      <th>Type Recette</th>
                      <th>Partie versante</th>
                      <th>Nature Recette</th>
                      <th>Montant TTC (MAD)</th>
                      <th>Observations</th>
                      <th>Justificatifs</th>
                      <th>Date de la recette</th>
                     <!-- <th>Modifié le</th>
                      -->
                      <!--
                      <th>{{app.user.roles[0]}}</th>
                      -->
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for item in recettes %}
                          <tr>
                              
                              <td>{{item.numCC}}</td>   
                              <td>{{item.typeRecette}}</td>                     
                              <td>{{item.Partieversantes}}</td>                        
                                                     
                              <td>{{item.natureRecette.natureOperation}}</td>                        
                              <td>{{item.montant}}</td>       
                              <td>{{item.obs}}</td>  
                              <td> 
                               {% if item.typeRecette =="Recette via GID" %} 
                              {% if item.documentPassation %}  
                              <a href="{{ vich_uploader_asset(item, 'documentPassationFile') }}">Facture</a>
                              -
                              {% endif %}  
                              {% if item.documentExecution %}  
                              <a href="{{ vich_uploader_asset(item, 'documentExecutionFile') }}">Devis</a>
                              -
                              {% endif %} 
                              {% if item.documentAutre %}  
                              <a href="{{ vich_uploader_asset(item, 'documentAutreFile') }}">Autre (Convention, Contrat, etc.)</a>
                              -
                              {% endif %}  
                              {% if item.documentBon %}  
                              <a href="{{ vich_uploader_asset(item, 'documentBonFile') }}">Bon de commande</a>
                              
                              {% endif %} 
                               {% else %} 
                              {% if item.documentNotif %}  
                              <a href="{{ vich_uploader_asset(item, 'documentNotifFile') }}">Notification</a>
                              -
                              {% endif %} 

                              {% if item.documentOrdre %}  
                              <a href="{{ vich_uploader_asset(item, 'documentOrdreFile') }}">Ordre de Régularisation</a>
                              
                              {% endif %} 
                               {% endif %} 
                              </td>  
                                <td>{{item.dateRecette| date()  }}</td>                
                              <!--<td>{{item.createdAt | date() }}</td>                        
                              <td>{{item.updatedAt | date() }}</td>    
                              -->    
                             <!-- <td>
                                  <a class="btn btn-primary btn-sm"
                                  data-toggle="tooltip" data-placement="top" title="Afficher détails"
                                  href="{{ path('recette_show', {id: item.id}) }}">
                                      <i class="fas fa-eye"></i>
                                  </a>  
                              </td>  
                              -->
                              {% if is_granted('ROLE_REGIE') %}               
                              <td>
                                  <a class="btn btn-info btn-sm"
                                  data-toggle="tooltip" data-placement="top" title="Editer"
                                  href="{{ path('recette_edit', {id: item.id}) }}">
                                      <i class="fas fa-pencil-alt"></i>
                                  </a>  
                              </td>      
                              <td>
                                  <a href="#" 
                                  data-toggle="tooltip" data-placement="top" title="Supprimer"
                                  onclick="event.preventDefault(); confirm('Êtes-vous sûre') && document.getElementById('js-contrat-delete-form').submit();" 
                                  class="btn btn-danger btn-sm">
                                      <i class="fas fa-trash"></i>
                                  </a>
                                  <form id="js-contrat-delete-form" action="{{ path('recette_delete', {id: item.id}) }}" method="post" style="display: none;">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token('recette_deletion_' ~ item.id) }}">
                                      <input type="hidden" name="_method" value="DELETE">
                                  </form> 
                              </td>    
                              {% endif %}                    
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


{% endblock %}
