{% extends 'layouts/base.html.twig' %}

{% block title 'Archive Bon de commandes' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Archive Bon de commandes</h1>
          </div>
          <div class="col-sm-6 text-right">
            {% if is_granted('ROLE_AGENT') %}  
              <a role="link" href="{{path('app_new_bon_commande')}}" type="button" class="btn btn-primary "><i class="fa fa-plus"></i> Nouveau bon de commande</a>
            {% endif %}
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>N° BC-FN</th>
                      <th>TFS</th>
                      <th>Type BC</th>
                      <th>Société</th>
                      <th>Nature Opération</th>
                      <th>Montant TTC</th>
                      <th>Crée le</th>
                      <th>Modifié le</th>
                      {% if is_granted('ROLE_AGENT') %}
                      <th></th>
                      <th></th>
                      {% endif %}
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for item in bon_commandes %}
                          <tr>
                              <td >{{ loop.index }}</td> 
                              <td>{{item.numBc}}</td>                        
                              <td>{{item.tfs.code}}</td>                        
                              <td>{{item.typeBc == '0' ? "Sans FN" : "Avec FN"}}</td>                        
                              <td>{{item.societe.name}}</td>                        
                              <td>{{item.natureOperation.natureOperation}}</td>                        
                              <td>{{item.montant ~ ' ' ~ item.devise.name}}</td>                        
                              <td>{{item.createdAt | date() }}</td>                        
                              <td>{{item.updatedAt | date() }}</td>        
                              <td>
                                  <a class="btn btn-primary btn-sm"
                                  data-toggle="tooltip" data-placement="top" title="Afficher détails"
                                   href="{{ path('app_show_bon_commande', {id: item.id}) }}">
                                      <i class="fas fa-eye"></i>
                                  </a>  
                              </td>         
                              {% if is_granted('ROLE_AGENT') %}
                              <td>
                                  <a class="btn btn-info btn-sm"
                                  data-toggle="tooltip" data-placement="top" title="Editer"
                                   href="{{ path('app_edit_bon_commande', {id: item.id}) }}">
                                      <i class="fas fa-pencil-alt"></i>
                                  </a>  
                              </td>      
                              <td>
                                  <a href="#" 
                                  data-toggle="tooltip" data-placement="top" title="Supprimer"
                                  onclick="event.preventDefault(); confirm('Êtes-vous sûre') && document.getElementById('js-bon_commande-delete-form').submit();" 
                                  class="btn btn-danger btn-sm">
                                      <i class="fas fa-trash"></i>
                                  </a>
                                  <form id="js-bon_commande-delete-form" action="{{ path('app_bon_commande_delete', {id: item.id}) }}" method="post" style="display: none;">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token('bon_commande_deletion_' ~ item.id) }}">
                                      <input type="hidden" name="_method" value="DELETE">
                                  </form> 
                              </td>     
                              {% endif %}                   
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


{% endblock %}
