{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier Contrat' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Contrat</h1>
          </div>
		  <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('app_contrats') }}">Archive Contrat / Convention</a></li>
              <li class="breadcrumb-item active">Modifier Contrat</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	<!-- Main content -->
    <section class="content ">
		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6">
				<div class="card card-primary">
					<div class="card-body">
					{{ form_row(form.numCC) }}
					{{ form_row(form.typeContrat) }}
					{{ form_row(form.titulaire) }}
					<div class="form-group">
						{{ form_label(form.societe) }}
						<div class="row">
							<div class="col-10">
								{{ form_widget(form.societe) }}
								
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>  </button>
							</div>
							
						</div>
					</div>
					{{ form_row(form.natureOperation) }}

					
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				</div>
				<div class="col-md-6">
				<div class="card card-secondary">
					<div class="card-body">
					
					{{ form_row(form.fontionnementInvestissement) }}
					{{ form_row(form.lineBudgetaire) }}
					{{ form_row(form.anneeBudgetaire) }}
					{{ form_row(form.montant) }}
					{{ form_row(form.devise) }}
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				</div>
			</div>
			<div class="card card-secondary">
			<div class="card-header">
			Dossier Lancement et passation
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						{{ form_row(form.demandeDevisFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.lettreSntlFile) }}
					</div>
				</div>
			</div>
		<!-- /.card-body -->
		</div>
          <!-- /.card -->


		<div class="card card-secondary">
			<div class="card-header">
			Dossier exécution - Engagement
			</div>
			<div class="card-body">
				
				<div class="row">
					<div class="col-6">
						{{ form_row(form.contratSigneFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.conventionSigneFile) }}
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						{{ form_row(form.devisContradictoireFile) }}
					</div>
					
				</div>

				
			</div>
		<!-- /.card-body -->
		</div>
          <!-- /.card -->

		<div class="card card-secondary">
			<div class="card-header">
			Dossier exécution - Paiement
			</div>
			<div class="card-body">
				
				<div class="row">
					<div class="col-6">
						{{ form_row(form.contratSignePaiementFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.bonLivraisonFile) }}
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						{{ form_row(form.factureFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.bordereauFile) }}
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						{{ form_row(form.ordonnancementFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.avisVirementFile) }}
					</div>
				</div>
				
			</div>
		<!-- /.card-body -->
		</div>
		
			<div class="row">
				<div class="col-12">
				<a href="{{ path('app_marches') }}" class="btn btn-secondary mb-5">Annuler</a>
				<input type="submit" value="Enregistrer" class="btn btn-primary float-right" formnovalidate>
				</div>
			</div>
		{{ form_end(form) }}
    </section>
    <!-- /.content -->

				
<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nouvelle société</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger d-none" id="alert-errors">
						<h5><i class="icon fas fa-ban"></i> Erreurs!</h5>
						<div id="list_errors">
						</div>
					</div>
					{{ form_start(form2, {'action': path('app_new_ajax_societes'), 'method': 'POST'}) }}
						{{ form_row(form2.name) }}
						{{ form_row(form2.code_societe) }}
						{{ form_row(form2.adresse) }}
						{{ form_row(form2.titulaire) }}

						<input type="button" value="Enregistrer" class="btn btn-primary btn-block my-3 add_societe" formnovalidate>
					{{ form_end(form2) }}
				</div>
			</div>
		</div>
	</div>
				
			

{% endblock %}

{% block javascript %}
<script>

$("#contrat_fontionnementInvestissement").on('change', function() {
  //alert( this.value );

  $.ajax('/ligne/type/'+this.value, {
    type: 'GET',  // http method
    success: function (data, status, xhr) {
        console.log(data);
		$('#contrat_lineBudgetaire').empty();
		$('#contrat_lineBudgetaire').append('<option value="0">Séléctionner Ligne Budgétaire</option>');
		var option = '';
			for (var i=0;i<data.length;i++){
   			option += '<option value="'+ data[i]['ligne_id'] + '">' + data[i]['ligne_rubrique'] + '</option>';
			}
		$('#contrat_lineBudgetaire').append(option);
    },
    error: function (jqXhr, textStatus, errorMessage) {
            console.log('Error' + errorMessage);
    }
});

});



$("#contrat_titulaire").on('change', function() {
  //alert( this.value );

  $.ajax('/societe/type/'+this.value, {
    type: 'GET',  // http method
    success: function (data, status, xhr) {
        console.log(data);
		$('#contrat_societe').empty();
		$('#contrat_societe').append('<option value="0">Séléctionner Société</option>');
		var option = '';
			for (var i=0;i<data.length;i++){
   			option += '<option value="'+ data[i]['societe_id'] + '">' + data[i]['societe_rubrique'] + '</option>';
			}
		$('#contrat_societe').append(option);
    },
    error: function (jqXhr, textStatus, errorMessage) {
            console.log('Error' + errorMessage);
    }
});

});


</script>
{% endblock %}