{% extends 'layouts/base.html.twig' %}

{% block title 'Archive Contrat / Convention' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Archive Contrat / Convention</h1>
          </div>
          <div class="col-sm-6 text-right">
            <a role="link" href="{{path('app_new_contrat')}}" type="button" class="btn btn-primary "><i class="fa fa-plus"></i> Nouvelle contrat</a>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>N° C-C</th>
                    <th>Type Contrat</th>
                    <th>Société</th>
                    <th>Nature Opération</th>
                    <th>Montant TTC</th>
                    <th>Crée le</th>
                    <th>Modifié le</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for item in contrats %}
                        <tr>
                            <td>{{item.numCC}}</td>                        
                            <td>{{item.typeContrat == '0' ? "Contrat" : "Contrat de droit commun"}}</td>                        
                            <td>{{item.societe.name}}</td>                        
                            <td>{{item.natureOperation.natureOperation}}</td>                        
                            <td>{{item.montant ~ ' ' ~ item.devise.name}}</td>                        
                            <td>{{item.createdAt | date() }}</td>                        
                            <td>{{item.updatedAt | date() }}</td>        
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('app_show_contrat', {id: item.id}) }}">
                                    <i class="fas fa-eye"></i>
                                </a>  
                            </td>                 
                            <td>
                                <a class="btn btn-info btn-sm" href="{{ path('app_edit_contrat', {id: item.id}) }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>  
                            </td>      
                            <td>
                                <a href="#" 
                                onclick="event.preventDefault(); confirm('Êtes-vous sûre') && document.getElementById('js-contrat-delete-form').submit();" 
                                class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <form id="js-contrat-delete-form" action="{{ path('app_contrat_delete', {id: item.id}) }}" method="post" style="display: none;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('contrat_deletion_' ~ item.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                </form> 
                            </td>                        
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


{% endblock %}
