


{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier Depense' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modifier recette</h1>
          </div>
		   <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('app_depenses') }}">Depenses</a></li>
              <li class="breadcrumb-item active">Modifier Depense</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	<!-- Main content -->
    <section class="content">
	{{ form_start(form) }}
		<div class="row">
		<div class="col-md-3">
		</div>
			<div class="col-md-6">
				<div class="card card-primary">
				<div class="card-body">
					
					{{ form_row(form.beneficiaire) }}
					{{ form_row(form.reference) }}
					{{ form_row(form.typeDpense) }}

					{{ form_row(form.objet) }}

					{{ form_row(form.montant) }}

					{{ form_row(form.obs) }}
					
				</div>
				<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			

		</div>
		<div class="card card-secondary">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						{{ form_row(form.documentPassationFile) }}
					</div>
					<div class="col-6">
						{{ form_row(form.documentExecutionFile) }}
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						
					</div>
					<div class="col-6">
						{{ form_row(form.documentOrdreFile) }}
					</div>
				</div>
			</div>
		<!-- /.card-body -->
		</div>
          <!-- /.card -->
        
      <div class="row">
        <div class="col-12">
          <a href="{{ path('app_depenses') }}" class="btn btn-secondary mb-5">Annuler</a>
          <input type="submit" value="Enregistrer" class="btn btn-primary float-right" formnovalidate>
        </div>
      </div>
	  {{ form_end(form) }}
    </section>
    <!-- /.content -->

	
				
			

{% endblock %}
{% block javascript %}
<script>


</script>
{% endblock %}
