{% extends 'layouts/base.html.twig' %}

{% block title 'Edit marché' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit marché</h1>
          </div>
		  <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('app_marches') }}">Archive Marché Unique - Cadre</a></li>
              <li class="breadcrumb-item active">Edit marché</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	<!-- Main content -->
    <section class="content ">
		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6">
				<div class="card card-primary">
					<div class="card-body">
					{{ form_row(form.numMarche) }}
					{{ form_row(form.tfs) }}
					{{ form_row(form.typeMarche) }}
					{{ form_row(form.modePassassion) }}
					{{ form_row(form.titulaire) }}
					<div class="form-group">
						{{ form_label(form.societe) }}
						<div class="row">
							<div class="col-10">
								{{ form_widget(form.societe) }}
								
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-primary float-right"><i class="fa fa-plus"></i>  </button>
							</div>
							
						</div>
					</div>
					
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				</div>
				<div class="col-md-6">
				<div class="card card-secondary">
					<div class="card-body">
					{{ form_row(form.natureOperation) }}
					{{ form_row(form.lineBudgetaire) }}
					{{ form_row(form.fontionnementInvestissement) }}
					{{ form_row(form.anneeBudgetaire) }}
					{{ form_row(form.montant) }}
					{{ form_row(form.devise) }}
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				</div>
			</div>
			<div class="card card-secondary">
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							{{ form_row(form.documentPassationFile) }}
						</div>
						<div class="col-6">
							{{ form_row(form.documentExecutionFile) }}
						</div>
					</div>
				</div>
			<!-- /.card-body -->
			</div>
			<!-- /.card -->
			<div class="row">
				<div class="col-12">
				<a href="{{ path('app_marches') }}" class="btn btn-secondary mb-5">Annuler</a>
				<input type="submit" value="Enregistrer" class="btn btn-primary float-right" formnovalidate>
				</div>
			</div>
		{{ form_end(form) }}
    </section>
    <!-- /.content -->

				

				
			

{% endblock %}
