{% extends 'layouts/base.html.twig' %}

{% block title 'Détails marché ' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Code à barres pour Marché {{ marche.typeMarche == 0 ? "Unique" : "Cadre" }}</h1>
          </div>
		   <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('app_marches') }}">Archive Marché Unique - Cadre</a></li>
              <li class="breadcrumb-item active">Détails marché {{ marche.numMarche }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	<!-- Main content -->
    <section class="content">

		<div class="row">

				<div class="col-12">
					<div class="card card-primary card-outline card-tabs">
						<div class="card-header p-0 pt-1 border-bottom-0">
							<ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="custom-tabs-details-tab" data-toggle="pill" href="#custom-tabs-details" role="tab" aria-controls="custom-tabs-details" aria-selected="false">Détails</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-passation-tab" data-toggle="pill" href="#custom-tabs-passation" role="tab" aria-controls="custom-tabs-passation" aria-selected="false">Dossier Lancement et passation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-engagement-tab" data-toggle="pill" href="#custom-tabs-engagement" role="tab" aria-controls="custom-tabs-engagement" aria-selected="false">Dossier exécution - Engagement</a>
							</li>
							<li class="nav-item">
								<a class="nav-link " id="custom-tabs-paiement-tab" data-toggle="pill" href="#custom-tabs-paiement" role="tab" aria-controls="custom-tabs-paiement" aria-selected="true">Dossier exécution - Paiement</a>
							</li>
							</ul>
						</div>
						<div class="card-body">
							<div class="tab-content" id="custom-tabs-three-tabContent">
							<div class="tab-pane fade active show" id="custom-tabs-details" role="tabpanel" aria-labelledby="custom-tabs-details-tab">
								<div class="row">
								
									<div class="col-md-6">
										<div class="card card-primary">
											<div class="card-header text-center text-uppercase">
												Code Doc						
											</div>
											<div class="card-body text-center" >
												<strong>
													{{ marche.codeDoc }}
												</strong>
												<br>
												<a class="btn btn-app mt-5" data-toggle="modal" data-target="#exampleModal">
													<i class="fas fa-barcode"></i> <strong>Code à barres</strong>
												</a>
											</div>
										<!-- /.card-body -->
										</div>
										<!-- /.card -->
										
									</div>

									<div class="col-md-6" >
										<div class="card card-secondary" id="test" >
										<div class="card-body">
											<table class="table table-striped">
												<tbody>
													<tr>
														<td class="label-table" width="50%">N° Enregistrement</td>
														<td width="50%">{{ marche.id }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">N° Marché</td>
														<td width="50%">{{ marche.numMarche }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">TFS</td>
														<td width="50%">{{ marche.tfs.name }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Type Opération</td>
														<td width="50%">Marché</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Mode Passasion</td>
														<td width="50%">{{ marche.modePassassion == 0 ? "Ouvert" : (marche.modePassassion == 1 ? "Négocié" : "Restreint")  }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Sté Titulaire</td>
														<td width="50%">{{ marche.titulaire.name }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Nom Sté</td>
														<td width="50%">{{ marche.societe.name }}</td>
													</tr>
												</tbody>
											</table>

											<table class="table table-striped mt-5">
												<tbody>
													
													<tr>
														<td class="label-table" width="50%" >Code TFS</td>
														<td width="50%">{{ marche.tfs.code }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Code Type Opération</td>
														<td width="50%">1</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Code Type Marché</td>
														<td width="50%">{{ marche.typeMarche }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Code Mode Passasion</td>
														<td width="50%">{{ marche.modePassassion }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Code Sté Titulaire</td>
														<td width="50%">{{ marche.titulaire.id }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Code Nature Opération</td>
														<td width="50%">{{ marche.natureOperation.code }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Ligne Budgétaire</td>
														<td width="50%">{{ marche.lineBudgetaire.num }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Fontionnement (F) <br>Investissement (I) </td>
														<td width="50%">{{ marche.fontionnementInvestissement }}</td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Année Budgétaire</td>
														<td width="50%">{{ marche.anneeBudgetaire }}</td>
													</tr>
												</tbody>
											</table>
											
										</div>
										<!-- /.card-body -->
										</div>
										<!-- /.card -->
										<button type="button" onclick="printContent2()" class="btn btn-outline-info btn-block btn-flat mt-3"><i class="fa fa-print"></i> Imprimer</button>
					

									</div>

							
								</div>
							</div>
							<div class="tab-pane fade" id="custom-tabs-passation" role="tabpanel" aria-labelledby="custom-tabs-passation-tab">
								<table class="table table-striped">
												<tbody>
													<tr>
														<td class="label-table" width="50%">Lettre de lancement</td>
														<td width="50%">
															{% if marche.lettreDeLancement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.lettreDeLancement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Décision</td>
														<td width="50%">
															{% if marche.decision %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.decision)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Avis dans les journaux</td>
														<td width="50%">
															{% if marche.avisJournaux %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.avisJournaux)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Convocation TM</td>
														<td width="50%">
															{% if marche.convocationTM %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.convocationTM)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">PVs et PV technique</td>
														<td width="50%">
															{% if marche.pvTechnique %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.pvTechnique)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Lettre de justification des prix</td>
														<td width="50%">
															{% if marche.lettreJustification %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.lettreJustification)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Lettre pour complément de dossier</td>
														<td width="50%">
															{% if marche.lettreComplement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.lettreComplement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
												
												</tbody>
											</table>	
							</div>
							<div class="tab-pane fade" id="custom-tabs-engagement" role="tabpanel" aria-labelledby="custom-tabs-engagement-tab">
								<table class="table table-striped">
												<tbody>
													<tr>
														<td class="label-table" width="50%">Marché signé, paraphé</td>
														<td width="50%">
															{% if marche.marcheSigne %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.marcheSigne)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Certificat administratif</td>
														<td width="50%">
															{% if marche.certificatAdministratif %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.certificatAdministratif)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Avis dans les journaux</td>
														<td width="50%">
															{% if marche.avisJournauxEngagement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.avisJournauxEngagement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Caution provisoire/définitive</td>
														<td width="50%">
															{% if marche.caution %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.caution)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Pouvoirs conférés</td>
														<td width="50%">
															{% if marche.pouvoir %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.pouvoir)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Retenue de la garantie</td>
														<td width="50%">
															{% if marche.retenue %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.retenue)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Fiche modèle D</td>
														<td width="50%">
															{% if marche.ficheModele %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.ficheModele)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>

													<tr>
														<td class="label-table" width="50%">Etat d’engagement</td>
														<td width="50%">
															{% if marche.etatEngagement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.etatEngagement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
												
												</tbody>
											</table>	
							</div>
							<div class="tab-pane fade" id="custom-tabs-paiement" role="tabpanel" aria-labelledby="custom-tabs-paiement-tab">
							<table class="table table-striped">
												<tbody>
													<tr>
														<td class="label-table" width="50%">Marché signé, visé et approuvé</td>
														<td width="50%">
															{% if marche.marcheSignePaiement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.marcheSignePaiement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Facture</td>
														<td width="50%">
															{% if marche.facture %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.facture)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Fiche d’intervention</td>
														<td width="50%">
															{% if marche.ficheIntervention %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.ficheIntervention)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Décomptes provisoires et définitifs</td>
														<td width="50%">
															{% if marche.decomptes %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.decomptes)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Procès-verbal</td>
														<td width="50%">
															{% if marche.procesVerbal %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.procesVerbal)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Bordereau d’émission</td>
														<td width="50%">
															{% if marche.bordereau %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.bordereau)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
													<tr>
														<td class="label-table" width="50%">Ordonnancement</td>
														<td width="50%">
															{% if marche.ordonnancement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.ordonnancement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>

													<tr>
														<td class="label-table" width="50%">Avis de virement</td>
														<td width="50%">
															{% if marche.avisVirement %}
															<a href="{{ asset('uploads/files/marche_unique/' ~ marche.avisVirement)}}" download>Télécharger</a>
															{% endif %}
														 </td>
													</tr>
												
												</tbody>
											</table></div>
							</div>


						</div>
					<!-- /.card -->
					</div>
				</div>
				
		</div>
	
    </section>
    <!-- /.content -->

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Code à barres</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div id="codeBar" class="text-center">
						<img src="{{ asset('uploads/barcode/' ~ marche.codeBarImg ) }}" style="width:200px; height: 100px" alt="">
						<br>
						<strong>
							{{ marche.codeDoc }}
						</strong>	
					</div>
					<button type="button" onclick="printContent('codeBar')" class="btn btn-outline-info btn-block btn-flat mt-3"><i class="fa fa-print"></i> Imprimer</button>
					
					{# <a href="{{ asset('uploads/barcode/' ~ marche.codeBarImg ) }}" download class="btn btn-outline-info btn-block btn-flat mt-5"><i class="fa fa-download"></i> Télécharger</a> #}
					
				</div>
			</div>
		</div>
	</div>

	<script>
	function printContent(el) {
		var restorepage = document.body.innerHTML;
		var printcontent = document.getElementById(el).innerHTML;
		document.body.innerHTML = "<div style='width:100%;margin-top:100px;text-align:center'> "+printcontent+"</div>";
		window.print();
		document.body.innerHTML = restorepage;
	}


		function printContent2() {

		

    printtag("test");
	}


	function printtag(tagid) {
            var hashid = "#"+ tagid;
            var tagname =  $(hashid).prop("tagName").toLowerCase() ;
            var attributes = ""; 
            var attrs = document.getElementById(tagid).attributes;
              $.each(attrs,function(i,elem){
                attributes +=  " "+  elem.name+" ='"+elem.value+"' " ;
              })
            var divToPrint= $(hashid).html() ;
            var head = "<html><head>"+ $("head").html() + "</head>" ;
            var allcontent = head + "<body  onload='window.print()' >"+ "<" + tagname + attributes + ">" +  divToPrint + "</" + tagname + ">" +  "</body></html>"  ;
            var newWin=window.open('','Print-Window');
            newWin.document.open();
            newWin.document.write(allcontent);
            newWin.document.close();
           // setTimeout(function(){newWin.close();},10);
        }
	</script>

				
			

{% endblock %}
